.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messageBox {
  padding-top: 20px;
/*  display: flex;
  flex-direction: row;*/
}

nav {
  background: #FFD2DA;
  color: white;
  font-size: 30px;
  height: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
}

button {
  padding-top: 20px;
}

.MuiInput-root-1 {
  margin-bottom: 10px;
}
